@import "compass/css3";

.expandable {
    width: 100px;
    @include transition(all 1.0s ease);

    &.error {
        background: red;
        color: white;
    }
}

h6 {
  line-height: 0px;
  margin-top: -40px;
}

.box    {
    width: 200px;
    height: 0px;
    overflow: hidden;
    margin: 100px auto;
    background: red;

    @include transition(all 1.0s ease);
}

.box.active {
    height: 400px;
    padding: 20px;
}

.container {
    width: 960px;
    margin: 50px auto;

    &.blackout {
      background: black;

      .box-by-dan {
        background: yellow;
        border: rgb(88, 79, 79);
        color: rgb(54, 48, 48);
        border-radius: 100px;
        width: 200px;
        height: 200px;
        box-shadow: 0px 0px 20px yellow;
        position: absolute;
      }
    }

    &.neon {
      background: black;

      .box-by-dan {
        box-shadow: 0px 0px 20px white;
        border: 1px solid rgb(208, 184, 216);
        background: rgb(73, 56, 75);
        color: #F0E1F3;
        text-shadow: 0 0px 4px rgb(221, 167, 228);
      }
    }
}

.wrapper {
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-block;
    border-radius: 6px;

    
    .shade {
      width: 250px;
      height: 150px;
      background: rgba(0, 0, 0, .85);
      border-radius: 6px;
      position: absolute;
      top: 0;
      color: white;
      text-align: center;
      font-size: 30px;
      line-height: 0px;

      h2 {
        color: white;
        text-align: center;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 5px;
      }
    }
}


.box-by-dan {
  top: 0;
  left: 0;
  width: 250px;
  height: 150px;
  background: gray;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  position: relative;
  box-shadow: inset 0px 0px 5px black;
  @include transition(all 1.0s ease);
  
  &.active {
    background: red;
    color: white;
    font-size: 25px;
    @include transition(all 1.0s ease);
  }

  &.fire-words {
    color: red;
    text-shadow: 1px -2px 3px yellow;
  }

  &.expand {
    position: relative;
    width: 280px;
    height: 190px;
    border-radius: 8px;
    top: -20px;
    left: -15px;
    box-shadow: 8px 8px 15px black,
          inset 0px 0px 3px white;
  }

  &.light-it-up {
    box-shadow: 0px 0px 70px yellow;
    background: rgb(238, 238, 93);
    color: rgb(42, 185, 94);
    border: 2px solid rgb(153, 221, 150);
    text-shadow: 5px 5px 10px white;
    }

  span {
    display: block;
  }

  input {
    background: white;
    width: 200px;
    height: 40px;
    color: rgb(140, 140, 140);
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 1px 4px #484D5F;
    font-size: 13px;
    padding-left: 20px;
  }

  .input-query {
    line-height: 0px;
    position: absolute;
    top: 30px;
    left: 40px;
  }

  .rumbler {
    position: absolute;
    top: 0;
    height: 70px;
    padding-top: 45px;
    padding-left: 35px;
    opacity: 0;
    
    &.its-on {
      opacity: 1;
    }
  }
  .submit {
    position: absolute;
    top: 0;
    padding-top: 45px;
    padding-left: 40px;
    font-size: 18px;
    color: rgb(243, 182, 182);
    opacity: 0;

    &.its-off {
      opacity: 0;
    }


  }

// End box-by-dan
}

// row styling
.row2 {
  position: relative;
}

.row2 img {
  position: absolute;
  top: 85px;
  left: 400px;
}

.row3 {
  position: relative;

  .wrapper {
    overflow: hidden;
  }
}

.row4 {
  width: 980px;
  height: 450px;
  padding-left: 15px;
  @include transition(all 1.0s ease);
}

// End row styling

.try10 {
  display: none;
}

.try13 span {
  display: inline;
}

.try15.dbl {
  background: yellow;
  color: gray;
}

// Toggle Button
img.toggle-button {
  height: 50px;
}

.center img.toggle-button {
  position: absolute;
  top: 85px;
  left: 100px;  
}

.right img.toggle-button {
  position: absolute;
  top: 85px;
  left: 705px;
}

.left img.toggle-button {
  position: absolute;
  top: 90px;
  left: 98px;
}